fieldset {
  border: none;
}

.input {
  width: 90%;
  padding: 10px;
  margin: 10px 10px 25px 10px;
  border-radius: 5px;
  border: 2px solid var(--color-water-10);
}

.notes {
  height: 80px;
}

fieldset > button {
  padding: 20px;
  border-radius: 5px;
  width: 150px;
  border: none;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

label {
  font-size: 1.2rem;
  padding-left: 10px;
}
